@import "_base.scss";
a,
a.nav-link {
  color: inherit;
  text-decoration: none;
}
.nav-link {
  &:hover {
    background-color: #e31750 !important;
    color: #fff !important;
  }
}
a {
  i.link-icon {
    &-left {
      margin-right: 0.5rem;
    }
    &-right {
      margin-left: 0.5rem;
    }
  }
}
.wrapper {
  background-color: #1f2358 !important;
  color: #fff !important;
  a {
    color: #fff !important;
    text-decoration: none !important;
    &:hover {
      color: #fff !important;
    }
  }
  .nav-link {
    &:hover {
      background-color: #1f2358 !important;
      color: #fff !important;
    }
  }
}
.nav_man {
  background-color: #df698a !important;
  color: #fff;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  .contact_minibar {
    background-color: $theme-dark-accent;
    color: $theme-light-shades;
    .nav-item {
      .nav-link {
        &:hover,
        &:active,
        &:focus {
          background-color: darken($color: $theme-dark-accent, $amount: 10);
          color: inherit;
        }
      }
    }
  }
}
.navbar {
  padding: 0;
  .navbar-nav {
    width: 100%;
    position: relative;
    .enquiry {
      position: absolute;
      right: 0;
      .nav-link {
        padding: 0.5rem 1rem !important;
      }
    }
    .nav-item {
      .nav-link {
      }
    }
  }
  .navbar-brand {
    display: block;
    img {
      height: 60px;
      width: auto;
    }
  }
}

main {
  section {
    &#products {
      .section-title {
        h2 {
          text-align: center;
        }
      }
      .product {
        padding: 2rem 0;
      }
    }
  }
  &#home-page {
  }
  &#products-page {
  }
  &.contact-page {
    iframe {
      border: 0;
      width: 100%;
      aspect-ratio: 1;
    }
  }
}

footer {
  color: $theme-dark-shades;
  font-size: 14px;
  font-weight: 300;
  .upper_footer {
    padding: 2rem;
  }
  .wrapper {
    background-color: lighten($color: $theme-light-accent, $amount: 20);
  }
  h5 {
    font-size: 17px;
  }
  section.wrapper {
    padding: 2rem 0;
  }
  section {
    &.social {
      .social-icon {
        font-size: 1.2rem;
      }
    }
  }

  .footer-logo {
    filter: brightness(10);
  }
  .accordion {
    background-color: transparent;
    border: unset;
    .accordion-item {
      background-color: transparent;
      border-radius: 0 !important;
      border: none;
      &:first-of-type .accordion-button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .accordion-button {
        background-color: rgba(
          $color: $theme-dark-shades,
          $alpha: 0.1
        ) !important;
        &:focus {
          box-shadow: none;
          border: none;
        }
      }
    }
  }
}
